body {
    background-color: #A37774;
}

.nav-wrapper {
    background-color: #FCCA46;
    text-shadow: 2px, 2px, 2px rgba(0, 0, 0, 0,5);
}

.sidenav {
    background-color: #FCCA46;
}

.card-panel {
    background-color: #FCCA46;
}

#register_button {
    background-color: #4E0110;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

