{% extends "base.html" %}
{% block main_page %}

    <ul class="collapsible">
        {% for book in books %}
        <li>
            <div class="collapsible-header text-shadow">
                <i class="fas fa-caret-down"></i>
                <strong>"{{ book.book_name }}"</strong> : {{ book.book_author }}
            </div>
            <div class="collapsible-body">
                <p>Style: {{ book.books_style }}</p>
                <p>Description: {{ book.book_description }}</p>
                <p>Pages: {{ book.book_pages }}</p>
                <p>Published: {{ book.published_year }} year</p>
                <link rel="stylesheet" href="{{ book.purchase_link }}">
            </div>
        </li>
        {% endfor %}

    </ul>
            
{% endblock %}